---

---
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>WebDev101 Telecom Paris</title>
   
    <style>
       
       table {
            border-collapse: collapse;
            margin: 20px auto;
        }
        td {
            width: 30px;
            height: 30px;
            border: 1px solid black;
            text-align: center;
        }
        .grey {
            background-color: lightgray;
        }
        .white {
            background-color: white;
        }
        #player-hands {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .player-hand {
            margin: 0 10px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .card {
            display: inline-block;
            margin: 5px;
            padding: 5px;
            border: 1px solid #aaa;
            cursor: pointer;
        }
        #message {
            text-align: center;
            margin-bottom: 10px;
        }

        
</style>
    


</head>

<body>
    
    <div id="message"></div>
    <div id="player-hands">
        <div id="player1-hand" class="player-hand">Joueur 1 :</div>
        <div id="player2-hand" class="player-hand">Joueur 2 :</div>
    </div>

    <table>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td> </td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td class="grey"></td><td class="grey"></td><td class="grey"></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td class="grey"></td><td></td><td class="grey"></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td class="grey"></td><td class="grey"></td><td class="grey"></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>



    </table>

    <script src="../script/defi2.js">
        
    </script>

</body>
</html>
